.balance-container,
.income-container,
.expense-container {
  text-align: right;
  margin: 10px;
  padding: 20px;
  background-color: $white;
  border-radius: 8%;
}

#account-balance-container {
  font-size: 2rem;
  font-weight: 700;
}

.dashboard {
  display: flex;
}

.dashboard-nav {
  background-color: $white;
  width: 20vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  & div {
    display: flex;
    flex-direction: row;
    align-items: center;
    & img {
      height: 40px;
    }
    & a {
      padding-left: 10px;
      font-size: 2rem;
      color: inherit;
      font-family: $serif;
    }
  }
  & a {
    color: inherit;
  }
}
