@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Righteous&display=swap');

// fonts
$sans: 'Manrope', sans-serif;
$serif: 'Righteous', cursive;

// colors
$highlight: #fea800;
$bg-color: #fff4ea;
$purple: #573353;
$gray: #796376;
$blue: #1b237e;
$coral: #ff6767;
$lavender: #b1afe9;
$light: #dddcfe;
$white: #ffffff;
